/* ==========================================================================
main
========================================================================== */
#main{
    /* ▼空間設定*/
    padding-top: 20px;
    /* ▼文字設定*/
    text-align: left;
}
#main p{
    /* ▼空間設定*/
    float : left;
    height: 50px;
    margin: 10px;
    /* ▼文字設定*/
    line-height: 50px;
}
#link{
    /* ▼空間設定*/
    float: left;    
    width : 50px;
    height: 50px;
    margin: 10px;
}