/* ==========================================================================
main
========================================================================== */
#main{
    /* ▼空間設定*/
    width:800px;    
}
#content{
    /* ▼空間設定*/
    padding-top:40px;
    /* ▼文字設定*/
    text-align: left;
/*    background: #cf0;*/
}
#blog-title{
    /* ▼空間設定*/
    display: block;
    /* ▼文字設定*/
    font-size: 32px;
    line-height: 1.5;
    font-weight: bold;
/*    background: #0ff;*/
}
#article-info{
    /* ▼空間設定*/
    padding: 10px 0;
    /* ▼文字設定*/
    line-height: 1;
    /*    background: #f0f;*/
}
#main-image img{
    /* ▼空間設定*/
    display: block;
    width:100%;
    height: auto;
    padding-bottom: 50px;
    /*    background: #0ff;*/
}
#article-body{
    /* ▼マージン相殺*/
    overflow: hidden;
}
#article-body h2{
    /* ▼背景設定*/
    background: #f0f0fa;
    /* ▼空間設定*/
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    /* ▼文字設定*/
    font-size: 23px;
    line-height: 1.5;
    font-weight: bold;
    /* ▼装飾線*/
    border-left: 5px solid #38b48b;
}
#article-body p{
    /* ▼空間設定*/
    margin-left: 15px;
    margin-bottom: 20px;
    /* ▼文字設定*/
    font-size: 16px;
/*        background: #0ff;*/
}
#article-body h3{
    /* ▼空間設定*/
    display: block;
    margin-left: 15px;
    margin-bottom: 20px;
    /* ▼文字設定*/
    font-size: 18px;
    font-weight: bold;
    /* ▼装飾線*/
    border-bottom: 2px solid #38b48b;
/*    background: #f0f;*/
}
#article-body img{
    /* ▼空間設定*/
    display: block;
    margin: 0 auto;
}
