/* ==========================================================================
main
========================================================================== */
#main{
    /* ▼空間設定*/
    padding-top: 20px;
    /* ▼文字設定*/
    text-align: center;
}
#main p{
    /* ▼空間設定*/
    height: 50px;
    margin: 10px;
    /* ▼文字設定*/
    line-height: 50px;
}
#main svg{
    /* ▼空間設定*/
    width : 100px;
    height: 100px;
    margin: 10px;
}